.whole_contact_page {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 50vh;
    padding-right: 160px;
    font-family: "PlayfairDisplay", serif;
}

.contact_name {
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
}

.lets_get_in_touch {
    font-size: 24px;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
}

.email_line {
    width: 100%;
    max-width: 440px;
    height: 2px;
    background-color: #ffffff;
    margin: 0px 0px 10px;
    align-self: flex-end;
}

.external_link_div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
    font-family: "PlayfairDisplay", serif;
    font-style: italic;
}

.link_text {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    color: white;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -2px;
        width: 0%;
        height: 1px;
        background-color: rgb(255, 255, 255);
        transition: all 0.3s ease;
        transform: translateX(-50%);
    }

    &:hover::after {
        width: 100%;
    }
}
